<h1>Gestão de pessoas</h1>


<!-- FORMULARIO -->
<div class="example-container div-filtros">
  <h2>Filtros</h2>
  <div class="div-filtros-inputs">
    <mat-form-field appearance="fill">
      <mat-label>Nome da pessoa</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Idade</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <button mat-stroked-button color="primary">Buscar</button>

</div>


<table>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th>Idade</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let element of dataSource.__zone_symbol__value">
            <td> {{ element.id }}</td>
            <td> {{ element.nome }}</td>
            <td> {{ element.email }}</td>
            <td> {{ element.cpf }}</td>
            <td> {{ element.idade }}</td>

          </tr>
        </tbody>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

